<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=B612:ital,wght@0,400;0,700;1,400;1,700&family=Caesar+Dressing&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./email.css" />
    <title>Email Verification</title>
  </head>
  <style></style>
  <body>
    <header>
      <span class="logo">Digging</span>
    </header>
    <main>
      <h1>Email Address Verification</h1>
      <p class="primary-info">
        You have entered {{email}} as the email address for your account.
        <br />
        <br />
        Please click the link below to verify your email and access more
        features on Digging.
      </p>
      <a href="">Verify Email Address</a>
      <p class="additional-info">
        If you did not register an account with this email, please ignore this
        email and the account will be deleted.
      </p>
    </main>
    <footer>
      <div class="social-accounts-group">
        <div class="link-social-account">
          <a href="" class="link-of-social-account">
            <span class="sr-only">Go to our Instagram profile</span>
            <span class="fab fa-instagram"></span>
          </a>
        </div>

        <div class="link-social-account">
          <a href="" class="link-of-social-account">
            <span class="sr-only">Go to our Pinterest profile</span>
            <span class="fab fa-pinterest"></span>
          </a>
        </div>

        <div class="link-social-account">
          <a href="" class="link-of-social-account">
            <span class="sr-only">Go to our YouTube channel</span>
            <span class="fab fa-youtube"></span>
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
